@tailwind base;
@tailwind components;
@tailwind utilities;

.plus-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 465;
  font-style: normal;
}
.custom-kbd {
  background: rgb(34,33,33);
background: linear-gradient(274deg, rgba(34,33,33,1) 54%, rgba(87,87,87,1) 100%);
}
.user-bg{
  background: rgb(10,10,10);
background: linear-gradient(274deg, rgba(10,10,10,1) 55%, rgba(28,28,28,1) 97%);
}

.button{
  background: rgb(51,51,51);
background: linear-gradient(274deg, rgba(51,51,51,1) 67%, rgba(75,75,75,1) 97%);
}